{% extends 'accounts/base_generic.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
        
        <div class="container-fluid col-md-6">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h2 style="text-align: center;">Quienes Somos</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center;"> Mi nombre es Nicolas Barriga. 
                      Medico veterinario de la Universidad Mayor
                      Entrenador canino profesional Fundación Tregua
                      Diplomado etología clínica Universidad Santo Tomas
                    Funde este proyecto con la intención de poder entregar una atención de calidad a las mascotas.
                  
                  Actualmente, además me acompaña Consuelo, quien se concentra en apoyo en las atenciones a domicilio, petsitter y paseos, formando así un equipo a la altura de las necesidades de tu mascota.
                  Aunque este proyecto aun esta iniciando, ya contamos con mas de 100 pacientitos y muchos casos exitosos de consultas etologicas.

                </p>
                </div>
            </div>
        </div>
        <div class="container-fluid col-md-12">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <img src="nico.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Se favorece la interacción con los dueños</h5>
                <p class="card-text">Sesiones divertidas y educativas para tus mascotas</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="nico2.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">¿Que animales atiendo?</h5>
                <p class="card-text">Trabajo con gatos y perros</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="Sin título.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Consulta integral</h5>
                <p class="card-text">Sugiero rutinas, productos y cambios ambientales para mejorar la calidad de vida de tu mascota</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="Sin títulorrr.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Trabajo interdisplinario</h5>
                <p class="card-text">Examenes, consultas veterinarias, vacunas y nutrición animal.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
        
{% endblock %}
        