{% extends 'accounts/base_generic.html' %}
{% load static %}
{% block title %}Servicios en Barry Pets{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="text-center mb-5">Servicios en Barry Pets</h1>
    
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center">Etologia Clinica</h2>
                    <p class="card-text">Nuestros servicios de Etologia tienen un enfoque tanto para la mascota como para el tutor. Realizamos una evaluación inicial para entender el comportamiento inicial de la mascota y cómo el tutor incentiva estas conductas. Determinamos un nivel conductual y evaluamos un plan de trabajo. Es importante la constancia y compromiso del tutor para tener éxito en la conducta.</p>
                    <p class="card-text">Nuestras sesiones dependen de cada animal y de la disposición del tutor, pueden ser de 4 a 12 sesiones.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'accounts/images/serv1.jpg' %}" class="card-img-top" alt="Etologia Clinica">
            </div>
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col-md-6 order-md-2">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center">Consultas Clinicas</h2>
                    <p class="card-text">Nuestro servicio de consulta clínica consiste en un examen general para las mascotas, esquema de vacunación según calendario y desparasitaciones tanto internas como externas.</p>
                    <p class="card-text">Realizamos un examen físico general y ofrecemos recomendaciones para la salud de la mascota.</p>
                    <p class="card-text">Tenemos un horario de lunes a viernes de 9:00 am a 6:00 pm y sábados de 9:00 am a 3:00 pm.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'accounts/images/serv2.jpeg' %}" class="card-img-top" alt="Consultas Clinicas">
            </div>
        </div>
    </div>
    
    <div class="map-container">
        <h2 class="map-title text-center">Dónde nos puedes encontrar</h2>
        <gmp-map center="-33.42300796508789,-70.57521057128906" zoom="14" map-id="DEMO_MAP_ID">
            <gmp-advanced-marker position="-33.42300796508789,-70.57521057128906" title="My location"></gmp-advanced-marker>
        </gmp-map>
    </div>
    
</div>
{% endblock %}
